<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167423727024-e9ge54njmhn7j3m6dtamidikuroribo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167423727024-e9ge54njmhn7j3m6dtamidikuroribo2</string>
	<key>API_KEY</key>
	<string>AIzaSyCGwsEKzQvWYQCm2Or1qr_kee28Rf2n_TY</string>
	<key>GCM_SENDER_ID</key>
	<string>167423727024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hizwayz.livyfedontime</string>
	<key>PROJECT_ID</key>
	<string>livy-fed-on-time</string>
	<key>STORAGE_BUCKET</key>
	<string>livy-fed-on-time.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167423727024:ios:39b4fd0cf6c250fe0b3275</string>
</dict>
</plist>